.btnCerrar{
	transition: opacity .3s;
	width: 26px;
	height: 26px;
	position: absolute;
	top: -35px;
	right: 0;
	transition: opacity .3s;
	width: 26px;
	height: 26px;
}

.btnCerrar:hover{
	cursor: pointer;
	opacity: .6;
}