.header {
  padding: 0 22px;
  margin-top: 30px;
  width: 100%;
  height: 74px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

@media (min-width: 1280px) {
  .header {
    margin-top: 45px;
  }
}
