.card__me-gusta {
  color: currentColor;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.3s;
  display: none;
  color: currentColor;
}

.fa-solid {
  animation: meGusta 1s;
  -webkit-animation: meGusta 1s;
}
.fa-regular{
  animation: noMeGusta .5s;
  animation-fill-mode:forwards;
  -webkit-animation: noMeGusta .5s;
}
