.card__me-gusta {
  color: currentColor;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.3s;
  display: none;
  /* color: currentColor; */
}

.fa-solid {
  animation: megusta 1s 2;
  -webkit-animation: megusta 1s 2;
}
.fa-regular{
  animation: nomegusta .5s;
  animation-fill-mode:forwards;
  -webkit-animation: nomegusta .5s;
}
