.overlay__divTemp{
	min-width: 75%;
	min-height: 50vh;
	max-height: 70vh;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

@media (min-width: 768px){
	.overlay__divTemp{
		min-width: 60%;
		min-height: 80%;
		margin-top: 80px;
	}
}
