.overlay__divTemp {
  min-width: 75vw;
  min-height: 50vh;
  min-height: 75vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}

@media (min-width: 768px) {
  .overlay__divTemp {
    max-width: 75vw;
    max-height: 75dvh;

    margin-top: 80px;

}
}
