.profile__title {
  width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 768px) {
  .profile__title {
    width: 320px;
    font-size: 34px;
  }
}
