@keyframes zoomIn {
  0%{
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    opacity: 0;
}
  100%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}
}
@keyframes zoomOut {
  0%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
  100%{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
}
@keyframes fadeOut {
  0%{
    transform: opacity(1);
    -webkit-transform: opacity(1);
    -moz-transform: opacity(1);
    -ms-transform: opacity(1);
    -o-transform: opacity(1);
}
  100%{
    transform: opacity(0);
    -webkit-transform: opacity(0);
    -moz-transform: opacity(0);
    -ms-transform: opacity(0);
    -o-transform: opacity(0);
}
}
@keyframes megusta {
  0%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
  100%{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
}
@keyframes nomegusta {
  0%{
    color: black;
    opacity: 1;
}
  100%{
    color: white;
 opacity: 0;
}
}
