.overlay__divTemp {
  max-width: 50vw;
  max-height: 50vh;
  min-height: 30vh;
  display: grid;
  align-items: center;

}

@media (min-width: 768px) {
  .overlay__divTemp {
    max-width: 75vw;
    max-height: 75vh;
    display: grid;
    align-items: center;
  }
}
