.elements {
  margin: 46px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: repeat(2, 361px);
  justify-content: center;
  gap: 15px;
  grid-auto-flow: dense;
  transition: grid-auto-flow 1s ease-out;
}
