.profile__avatar {
  display: flex;
  flex-basis: 200px;
  height: 120px;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .profile__avatar {
    flex-basis: 120px;
  }
}
@media (min-width: 1280px) {
  .profile__avatar {
    height: 127.5px;
    padding: 0 22px;
  }
}
